.header {
  display: flex;
  height: 130px;
  border-bottom: #cccccc 2px solid;
  align-items: center;
//   margin-left: 105px;
    &__logo {
        width: 55px;
        height: 55px;
        top: 38px;
        left: 109px;
        border-radius: 10%;
    }
    &__text {
        margin: 0px 0px 0px 25px;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        text-align: left;
    }
}
